name: Build MSIX from Local Files
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          
      - name: Install and Build MSIX
        run: |
          npm install -g @pwabuilder/pwabuilder
          pwabuilder pack ./ --platform windows
          
      - name: Upload MSIX
        uses: actions/upload-artifact@v4
        with:
          name: CyberGestion-MSIX
          path: ./*.msix
